@import "comfortaa/comfortaa.css";
@import 'preset';

html, body {
  font: 12px $font-stack;
  margin: 0;
  padding: 0;
  color: $primary-color;
  overflow: none;
}

input {
  font: 12px $font-stack;
}

.pageTodoList {
  margin: 0 auto;
  width: 800px;
}

ul {
  background-color: $background-color;
  list-style-type: none;  
  padding: 0;
  margin: 0;
  cursor: default;

  li {
    line-height: 40px;
    padding: 5px;
    border-bottom: 1px solid white;
  }
  li:hover {
    background-color: #ddd;
  }
}

.todoNew {
  position: relative;
  left: 40px;
  width: 600px;
  background-color: $background-color;
  border: 0;
  border-bottom: 1px solid #269CE9;
  padding: 10px 5px;
}

.todoEdit {
  position: relative;
  left: 40px;
  width: 600px;
  background-color: $background-color;
  border: 0;
  padding: 5px;
}

.todoText {
  position: relative;
  width: 650px;
  display: inline-block;
  left: 40px;
}

.completed {
  text-decoration: line-through;
  color: #bbb;
}

.cbComplete {
  position: absolute;  
}

.error {
  padding: 15px;
  background-color: red;
  color: white;
  margin-top: 5px;
}

.cbComplete, .destroy {
  display: none
}

li:hover {
  .cbComplete {
    display: inline-block;
    margin-top: 15px;
  }
  .destroy {
    display: inline-block;
    margin-top: 7px;
  }
}

.floatRight {
  float: right;
}